@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-border: 1px solid #eaeaea;
  --main-transition: all 200ms ease-out;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Inter", sans-serif !important;
}

* {
  box-sizing: border-box;
}
