.main {
  padding: 1rem 2rem;
  /* height: 100vh; */
  transition: var(--main-transition);
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem 1rem;
  width: 100%;
  animation: fadeIn 0.5s ease;
  transition: var(--main-transition);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .cards__list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
